<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %} - Auqa</title>

    <!-- Core -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom -->
    <link href="/assets/css/custom.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <style>
    {
    font-family: 'Fjalla One', sans-serif;
    }
    </style>
    {% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}

    {% block footer %}
    <!-- Core -->
    <script src="/assets/js/jquery.3.1.1.min.js" type="text/javascript"></script>
    <script src="/assets/js/tether.min.js" type="text/javascript"></script>
    <script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- Charts -->
    <script src="/assets/js/moment.min.js" type="text/javascript"></script>
    <script src="/assets/js/Chart.min.js" type="text/javascript"></script>
    {% endblock %}
  </body>
</html>
