{% extends "base.html.j2" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Auqa</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>-->
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Auqa Dashboard</h1>
    <p class="lead">Your plant is looking healthy. Your plant needs watering.</p>
    <p class="lead">
      <button class="btn btn-primary btn-lg" type="button" id="manual-water">Manual Water</button>
    </p>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">

      <div class="col-md-4" style="padding-bottom: .5em;">
        <div class="card">
          <img class="card-img-top img-fluid" src="http://www.hdnicewallpapers.com/Walls/Big/Summer/Beautiful_Sun_Photo_on_Season_Summer.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Temperature</h4>
            <p class="card-text">The plant's room temperature is currently {{ current[0] | round(precision=2) }}°C.</p>
            <canvas id="temperature-chart"></canvas>
            <!--<a href="#" class="btn btn-primary">How hot is it?</a>-->
          </div>
        </div>
      </div>

      <div class="col-md-4" style="padding-bottom: .5em;">
        <div class="card">
          <img class="card-img-top img-fluid" src="https://static.wixstatic.com/media/59480a_1d42330bd4fc43dc8970d12cce609150.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Pressure</h4>
            <p class="card-text">The plant's room pressure is currently {{ current[1] | round(precision=2) }} mbar.</p>
            <canvas id="pressure-chart"></canvas>
            <!--<a href="#" class="btn btn-primary">Pressure</a>-->
          </div>
        </div>
      </div>

      <div class="col-md-4" style="padding-bottom: .5em;">
        <div class="card">
          <img class="card-img-top img-fluid" src="http://www.goodwp.com/images/201301/goodwp.com_27257.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Humidity</h4>
            <p class="card-text">The plant's room humidity is currently {{ current[2] | round(precision=2) }}%.</p>
            <canvas id="humidity-chart"></canvas>
            <!--<a href="#" class="btn btn-primary">Humidity</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
<script>
  var tempCtx = document.getElementById("temperature-chart").getContext("2d");
  var pressureCtx = document.getElementById("pressure-chart").getContext("2d");
  var humidityCtx = document.getElementById("humidity-chart").getContext("2d");

  var tempChart = new Chart(tempCtx, {
    type: 'line',
    data: {
        labels: [{% for item in history %}moment(new Date("{{item[3]}}")),{% endfor %}],
        datasets: [{
            label: 'Temperature (°C)',
            data: [{% for item in history %}{{ item[0] | round(precision=3) }},{% endfor %}],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            xAxes: [{
              type: "time",
              time: {
                unit: "hour"
              }
            }]
        },
        legend: {
          display: false
        }
    }
  });

  var pressureChart = new Chart(pressureCtx, {
    type: 'line',
    data: {
        labels: [{% for item in history %}moment(new Date("{{item[3]}}")),{% endfor %}],
        datasets: [{
            label: 'Pressure (mbar)',
            data: [{% for item in history %}{{ item[1] | round(precision=3) }},{% endfor %}],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            xAxes: [{
              type: "time",
              time: {
                unit: "hour"
              }
            }]
        },
        legend: {
          display: false
        }
    }
  });

  var humidityChart = new Chart(humidityCtx, {
    type: 'line',
    data: {
        labels: [{% for item in history %}moment(new Date("{{item[3]}}")),{% endfor %}],
        datasets: [{
            label: 'Humidity (%)',
            data: [{% for item in history %}{{ item[2] | round(precision=3) }},{% endfor %}],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            xAxes: [{
              type: "time",
              time: {
                unit: "hour"
              }
            }]
        },
        legend: {
          display: false
        }
    }
  });

  $("#manual-water").click(function() {
    if (confirm("Are you sure you would like to manually water?")) {
      // run water function
      console.log("Run water function");
    }
  });
</script>
{% endblock %}
